$main-color: #6E07F3;
$secondary-color: #5BE9B9;
$tertiary-color: #8F37FF;
$bg-color: #37343C;

@font-face {
    font-family: myFont;
    src: url(../../fonts/CodaCaption-ExtraBold.ttf);
}

// font class
.font {
    font-family: 'myFont';
}

// Nav Bar SCSS
.burgerContainer {
    display: inline-block;
    cursor: pointer;
    background-color: $main-color;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

// Contact Page

// Contact Page Background
h2{
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

body{
    height: 100vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(55%2c 52%2c 60%2c 1)'%3e%3c/rect%3e%3cpath d='M -29.26831389125988%2c242 C 66.73%2c289.8 258.73%2c512 450.7316861087401%2c481 C 642.73%2c450 738.73%2c98.8 930.7316861087402%2c87 C 1122.73%2c75.2 1218.73%2c397.6 1410.7316861087402%2c422 C 1602.73%2c446.4 1884.88%2c227.4 1890.7316861087402%2c209 C 1896.59%2c190.6 1530.15%2c305.8 1440%2c330' stroke='rgba(110%2c 7%2c 243%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -836.1916732770877%2c137 C -740.19%2c174.4 -548.19%2c337.8 -356.1916732770877%2c324 C -164.19%2c310.2 -68.19%2c76.6 123.80832672291228%2c68 C 315.81%2c59.4 411.81%2c248.4 603.8083267229123%2c281 C 795.81%2c313.6 916.57%2c227.8 1083.8083267229122%2c231 C 1251.05%2c234.2 1368.76%2c283.8 1440%2c297' stroke='rgba(110%2c 7%2c 243%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -66.09784932409661%2c264 C 29.9%2c270.4 221.9%2c333.8 413.9021506759034%2c296 C 605.9%2c258.2 701.9%2c44.4 893.9021506759034%2c75 C 1085.9%2c105.6 1181.9%2c447 1373.9021506759034%2c449 C 1565.9%2c451 1840.68%2c93.4 1853.9021506759034%2c85 C 1867.12%2c76.6 1522.78%2c342.6 1440%2c407' stroke='rgba(110%2c 7%2c 243%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -939.0571496375251%2c391 C -843.06%2c349.2 -651.06%2c167.6 -459.0571496375251%2c182 C -267.06%2c196.4 -171.06%2c448.8 20.94285036247493%2c463 C 212.94%2c477.2 308.94%2c272.6 500.9428503624749%2c253 C 692.94%2c233.4 793.13%2c396.8 980.9428503624749%2c365 C 1168.75%2c333.2 1348.19%2c148.2 1440%2c94' stroke='rgba(110%2c 7%2c 243%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
}


.container{
    width: 60%;
    padding: 45px;
}

.row{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.col-md-7{
    padding: 20px;
    
}

.col-md-5{
    background-color: $tertiary-color;
    padding: 20px;
    
}

.form-control{
    background-color: rgba($color: #000000, $alpha: 0);
    color: white;
    font-weight: bold;
    &::placeholder{
        color: white;
        font-weight: normal;
    }
}

.socials{
    cursor: pointer;
    -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    &:hover{
        color: $secondary-color;
    }
}

.submitBtn{
    border: $secondary-color solid 8px;
    color: white;
    &:hover{
        background-color: $secondary-color;
        color: $main-color;
    }
}

@media (max-width: 1150px){
    .container{
        width: 90%;
    }

    body{
        height: 185vh;
    }
}