// Colors and Fonts
$main-color: #6E07F3;
$secondary-color: #5BE9B9;
$tertiary-color: #8F37FF;
$nav-color: #FF6B6B;
$bg-color: #37343C;
@font-face {
    font-family: myFont;
    src: url(../../fonts/CodaCaption-ExtraBold.ttf);
}

// font class
.font{
    font-family: 'myFont';
}

.stroke{
    -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
}

// Nav Bar SCSS
.burgerContainer {
    display: inline-block;
    cursor: pointer;
    background-color: $main-color;
}

.bar{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}   

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.h-60{
    height: 60%;
}

.h-40{
    height: 40%;
}


.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

ul{
    text-decoration: none;
    list-style: none;
}

#menu1{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='900' height='900' preserveAspectRatio='none' viewBox='0 0 900 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1103%26quot%3b)' fill='none'%3e%3crect width='900' height='900' x='0' y='0' fill='rgba(55%2c 52%2c 60%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c137 C 180%2c257.8 720%2c620.2 900%2c741L900 900L0 900z' fill='rgba(143%2c 55%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c881 C 180%2c718.2 720%2c229.8 900%2c67L900 900L0 900z' fill='rgba(110%2c 7%2c 243%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1103'%3e%3crect width='900' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;

}

.largeFont{
    font-size: 5rem;
    color: white;
    font-weight: bold;
    &:hover{
        color: $nav-color;
        transition: .35s all;
        cursor: pointer;
    }
}

.navIcon{
    font-size: 5rem;
    color: $secondary-color;
    &:hover{
        cursor: pointer ;
    }
}

.pink{
    color: $nav-color;
}