// Colors and Fonts
$main-color: #6E07F3;
$secondary-color: #5BE9B9;
$tertiary-color: #8F37FF;
$nav-color: #FF6B6B;
$bg-color: #37343C;

@font-face {
    font-family: myFont;
    src: url(../../fonts/CodaCaption-ExtraBold.ttf);
}

// font class
.font {
    font-family: 'myFont';
}

.purple {
    color: $main-color;
}

.green {
    color: $secondary-color;
}

.stroke {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

// Project Body
body{
    background-color: $bg-color;
}

.w-80{
    width: 80%;
}

.c-item{
    height: 80vh;
}

.c-img1{
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(.4);
}

.c-img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-caption{
    top: 35%;
}

.greenButton{
    background-color: rgba($color: #000000, $alpha: 0);
    border: $secondary-color solid 8px;
    color: white;
    transition: .35s all;
    &:hover{
        color: $main-color;
        background-color: $secondary-color;
    }
}

.bg1{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1800' height='700' preserveAspectRatio='none' viewBox='0 0 1800 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1552%26quot%3b)' fill='none'%3e%3crect width='1800' height='700' x='0' y='0' fill='rgba(55%2c 52%2c 60%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c73 C 60%2c131.4 180%2c356 300%2c365 C 420%2c374 480%2c67.6 600%2c118 C 720%2c168.4 780%2c620.6 900%2c617 C 1020%2c613.4 1080%2c152.8 1200%2c100 C 1320%2c47.2 1380%2c339.4 1500%2c353 C 1620%2c366.6 1740%2c205 1800%2c168L1800 700L0 700z' fill='rgba(143%2c 55%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c43 C 90%2c154.8 270%2c565.4 450%2c602 C 630%2c638.6 720%2c250.4 900%2c226 C 1080%2c201.6 1170%2c471.2 1350%2c480 C 1530%2c488.8 1710%2c312 1800%2c270L1800 700L0 700z' fill='rgba(110%2c 7%2c 243%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1552'%3e%3crect width='1800' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        background-size: cover;
        background-repeat: no-repeat;
}

.bg2{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1800' height='700' preserveAspectRatio='none' viewBox='0 0 1800 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1498%26quot%3b)' fill='none'%3e%3crect width='1800' height='700' x='0' y='0' fill='rgba(55%2c 52%2c 60%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c61 C 30%2c166.4 90%2c587.6 150%2c588 C 210%2c588.4 240%2c49.8 300%2c63 C 360%2c76.2 390%2c647 450%2c654 C 510%2c661 540%2c110.8 600%2c98 C 660%2c85.2 690%2c542.6 750%2c590 C 810%2c637.4 840%2c368.2 900%2c335 C 960%2c301.8 990%2c468.2 1050%2c424 C 1110%2c379.8 1140%2c123.6 1200%2c114 C 1260%2c104.4 1290%2c387.8 1350%2c376 C 1410%2c364.2 1440%2c14.2 1500%2c55 C 1560%2c95.8 1590%2c583.4 1650%2c580 C 1710%2c576.6 1770%2c146.4 1800%2c38L1800 700L0 700z' fill='rgba(143%2c 55%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c283 C 45%2c337.4 135%2c569.2 225%2c555 C 315%2c540.8 360%2c223.8 450%2c212 C 540%2c200.2 585%2c473 675%2c496 C 765%2c519 810%2c293.4 900%2c327 C 990%2c360.6 1035%2c706.6 1125%2c664 C 1215%2c621.4 1260%2c167.4 1350%2c114 C 1440%2c60.6 1485%2c393.2 1575%2c397 C 1665%2c400.8 1755%2c185.8 1800%2c133L1800 700L0 700z' fill='rgba(110%2c 7%2c 243%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1498'%3e%3crect width='1800' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
        background-repeat: no-repeat;
        transform: rotate(180deg);
}

.rotate{
    transform: rotate(180deg);
}